---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="a double">
    <h2>Streamer FAQ</h2>
    <p>If you have any questions that are not answered here, ask on the #nethackathon-tech channel of the
      <a href="https://discord.gg/e8yGqb75wE">NetHackathon Discord</a>.</p>
  </section>
  <section class="c">
    <h2>How do I connect to the server (NEW!)</h2>
    <p>
      We're now running the NetHackathon event on the Hardfought servers, login to the closest server to you:
    </p>
    <ul>
      <li>hardfought.org (US)</li>
      <li>eu.hardfought.org (EU/UK)</li>
      <li>au.hardfought.org (AU)</li>
    </ul>
    <p></p>
    <p>
      Cloudmillion recorded a video walk-through on connecting to the server in
      PuTTY and running the shared save:
    </p>
    <p>
      <video controls width="450">
        <source src="https://nethackathon.org/2022-04-15_13-03-13.mp4" type="video/mp4">
      </video>
    </p>
  </section>
  <section class="b">
    <h2>SSH? Never heard of it.</h2>
    <p>
      You'll need a SSH client, if you're on Windows, <a
        href="https://www.putty.org/">download PuTTY.</a
      >
    </p>
    <p>
      On Linux or Mac systems you can simply open a shell or Terminal window and
      type `ssh nethack@hardfought.org`.
    </p>
  </section>

  <section class="a">
    <h2>OK, I'm connected to the server. Now what?</h2>
    <p>
      First, press `l` to log in and enter `nethackathon` for the username. We'll provide all streamers with the
      password ahead of the event.
    </p>
    <p>
      At the main screen type `N` to launch - Tournament (NetHackathon) and then `p` to play.
    </p>
  </section>

  <section class="c">
    <h2>How can I configure my NetHack settings?</h2>
    <p>
      After entering the `Tournament (NetHackathon)` screen, press `1` to edit your nethack configuration, or `j` to
      copy your existing settings from your hardfought account.
    </p>
  </section>

  <section class="b">
    <h2>What's this I hear about a NetHack Twitch bot?</h2>
    <p>
      finitelycraig has programmed up a bot for us to use, just head to
      <a href="https://www.twitch.tv/oracleofdelphibot"
        >https://www.twitch.tv/oracleofdelphibot</a
      > and type !join in chat there. The bot then joins your channel.
    </p>
    <p>
      You may want to make oracleofdelphibot a mod for the usual reasons of
      message frequency and links. Now in your chat try typing !commands to see
      what the bot can do for you.
    </p>
    <p>
      If you want the bot to leave your chat type !oracle-depart in your chat
      (though it automatically disconnects from offline channels).
    </p>
  </section>
</MainLayout>
