---
import MainLayout from '../layouts/MainLayout.astro';
import Countdown from '../components/Countdown.astro';
import Streamers from '../components/Streamers.astro';
import Schedule from '../components/Schedule.astro';
---
<MainLayout currentClass="active">
  <section class="double a">
    <noscript><p>You enter what seems to be an older, more primitive world. <small>(Enable JavaScript for additional
      site features.)</small></p></noscript>
    <Countdown />
    <p>On <strong>September 16 - 18</strong> Twitch content creators will stream NetHack continuously  for over 48 hours!</p>
  </section>
  <section class="double b">
    <Streamers />
  </section>
  <section class="double c">
    <Schedule />
  </section>
</MainLayout>

<style>
  .hidden {
    display: none;
  }
</style>
