---

import MainLayout from '../layouts/MainLayout.astro';
import CurrentStreamer from '../components/CurrentStreamer.astro';
import EventCountdown from '../components/EventCountdown.astro';
import SignupCountdown from '../components/SignupCountdown.astro';
import Streamers from '../components/Streamers.astro';
import Schedule from '../components/Schedule.astro';
import AscensionsDeaths from '../components/AscensionsDeaths.astro';
import Livelog from '../components/Livelog.astro';
import { parseEvent } from '../js/shared.js';

const response = await fetch(`${import.meta.env.NODE_API}/event/current`)
  .then((response) => response.json());
const currentEvent = response.currentEvent;

const eventObject = parseEvent(currentEvent); 

---
<MainLayout currentPage="home">
  { eventObject.beforeEvent && <EventCountdown currentEvent={eventObject} /> }
  { eventObject.eventLive && <CurrentStreamer /> }
  { eventObject.signupsOpen && <SignupCountdown currentEvent={eventObject} /> }
  { eventObject.eventLive &&
  <section class="double b">
    <Streamers />
  </section>
  <section class="double c">
    <Schedule />
  </section>
  <AscensionsDeaths />
  <Livelog />
  }
</MainLayout>

<style>
  .hidden {
    display: none;
  }
</style>
