---
import MainLayout from '../layouts/MainLayout.astro';
import CurrentStreamer from '../components/CurrentStreamer.astro';
import Countdown from '../components/Countdown.astro';
import Streamers from '../components/Streamers.astro';
import Schedule from '../components/Schedule.astro';
import AscensionsDeaths from '../components/AscensionsDeaths.astro';
import Livelog from '../components/Livelog.astro';

const eventLive = false;
---
<MainLayout currentClass="active">
  <Countdown />
  <CurrentStreamer />
  <!--section class="double c">
    <h2 style="margin-bottom: 0;">The Spring 2023 Event</h2>
    <p>We're currently looking for streamers for the next event to be held the weekend of
      <strong class="c">April 14th - 16th</strong>.</p>
    <p>
      <a href="/sign-up">Sign up today!</a>
    </p>
  </section-->
  <section class="double b">
    <Streamers />
  </section>
  <section class="double c">
    <Schedule />
  </section>
  <AscensionsDeaths />
  <Livelog />
</MainLayout>

<style>
  .hidden {
    display: none;
  }
</style>
