---
const { currentEvent } = Astro.props;
---

<p class="charity">
  <a class="charity-link" href={currentEvent.giving_url} target="_blank">
    <small>
      We're supporting {currentEvent.charity_name}, donate now!
    </small>
  </a>
</p>

<style>
  .charity {
    text-align: center;
    margin: 0 0 1em 0;
  }
  .charity-link {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-c);
  }
</style>
