<p class="charity">
  <a class="charity-link" href="https://www.justgiving.com/page/nethackathon" target="_blank">
    <small>
      We're supporting Girls Who Code, donate now!
    </small>
  </a>
</p>

<style>
  .charity {
    text-align: center;
    margin: 0 0 1em 0;
  }
  .charity-link {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-c);
  }
</style>
