---
const { start, end } = Astro.props;
---

<section class="double a counter" data-start={start} data-end={end} >
  <div>
    <slot name="before-countdown"></slot>
    <h2>
      <span class="counter-inner">{start}</span>
    </h2>
    <slot name="after-countdown"></slot>
  </div>
</section>

<script>
  import { DateTime, Interval } from 'luxon';

  function getTimeLeft(startDate) {
    let timeLeft = Interval.fromDateTimes(DateTime.now(), startDate)
      .toDuration(['days', 'hours', 'minutes', 'seconds', 'milliseconds']).toObject();
    return `${timeLeft.days ?? 0} days, ${timeLeft.hours ?? 0} hours, ${timeLeft.minutes ?? 0} minutes, and ${timeLeft.seconds ?? 0} seconds`;
  }

  function showCounters(counters) {
    return function() {
      for (const counter of counters) {
        const now = DateTime.now();
        const startDate = DateTime.fromISO(counter.dataset.start);
        const endDate = DateTime.fromISO(counter.dataset.end);
        if (now > startDate && (!endDate || now < endDate)) {
          counter.querySelector('.counter-inner').innerHTML = getTimeLeft(endDate);
          if (counter.classList.contains('hidden')) {
            counter.classList.remove('hidden');
          }
        } else {
          if (!counter.classList.contains('hidden')) {
            counter.classList.add('hidden');
          }
        }
      }
    }
  }

  window.addEventListener('load', () => {
    const counters = document.getElementsByClassName('counter');
    const showCounterFn = showCounters(counters);
    showCounterFn();
    window.setInterval(() => {
      showCounterFn();
    }, 1000);
  });
</script>
