---
import Countdown from "./Countdown.astro";
import { eventDateString } from "../js/shared";

const { currentEvent, nStreamers } = Astro.props;
const eventDate = eventDateString(
  currentEvent.event_start,
  currentEvent.event_end,
);
---

<Countdown start={currentEvent.signup_start} end={currentEvent.event_start}>
  <p slot="before-countdown">
    The {currentEvent.title} NetHackathon will start in:
  </p>
  <p slot="after-countdown">
    On <strong>{eventDate}</strong>, {nStreamers > 0 && nStreamers} Twitch content
    creators will stream NetHack continuously for over 48 hours!
  </p>
</Countdown>
