<section id="livelog-section" class="hidden double">
  <h2>Livelog</h2>
  <div id="livelog-textarea"></div>
</section>

<style>
  .hidden {
    display: none;
  }
  #livelog-textarea {
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    overflow: scroll;
    white-space: pre;
    font-size: small;
  }
</style>

<script>
  async function getLivelog () {
    return Promise.all([
      fetch(`https://api.nethackathon.org/livelog`)
    ])
  }
  window.addEventListener('load', async () => {
    const response = await getLivelog();
    const promises = response.map((r) => r.json());
    const json = await Promise.all(promises)
    const livelog = [].concat.apply([], json)
      .sort((l, m) => m.time - l.time )
      .map((l) => `- ${l.message}`)
      .join('\n');
    const livelogSection = document.getElementById('livelog-section');
    const livelogTextarea = document.getElementById('livelog-textarea');
    if (!livelogSection || !livelogTextarea) return;
    livelogTextarea.innerText = livelog;
    livelogSection.className = 'b double';
  });
</script>

