---
const { currentEvent } = Astro.props;
---

<section id="livelog-section" class="b double show-during" data-start={currentEvent.eventStart}>
  <h3>Livelog</h3>
  <div id="livelog-textarea"></div>
</section>

<style>
  .hidden {
    display: none;
  }
  #livelog-textarea {
    font-size: 12pt;
  }
</style>

<script>
  function getListItems(messages) {
    const list = document.createElement('ul');
    messages.forEach((m) => {
      const item = document.createElement('li');
      item.innerHTML = m.message;
      list.appendChild(item);
    });
    return list;
  }

  async function getLivelog () {
    const responses =  await Promise.all([
      fetch(`https://api.nethackathon.org/livelog`)
    ])
    const promises = responses.map((r) => r.json());
    const json = await Promise.all(promises)
    const livelog = [].concat.apply([], json)
      .sort((l, m) => m.time - l.time );
    const livelogList = getListItems(livelog);
    const livelogSection = document.getElementById('livelog-section');
    const livelogTextarea = document.getElementById('livelog-textarea');
    if (!livelogSection || !livelogTextarea) return;
    livelogTextarea.innerText = '';
    livelogTextarea.appendChild(livelogList);
  }
  window.addEventListener('load', async () => {
    await getLivelog();
    window.setInterval(async () => {
      await getLivelog();
    }, 5000);
  });
</script>

