<svg
  id="nethackathon-logo"
  role="img"
  aria-labelledby="logo-title"
  width="100%"
  viewBox="0 0 74.801392 9.6893005"
  xmlns="http://www.w3.org/2000/svg"
>
  <title id="logo-title">NetHackathon Logo</title>
  <g transform="translate(-11.244034,-50.369428)">
    <text
      xml:space="preserve"
      style="font-size:10px;line-height:1.25;text-align:center;text-anchor:middle;stroke-width:0.264583"
      x="48.755836"
      y="58.410255"
      ><tspan
        style="fill:#ffffff;stroke-width:0.264583"
        x="48.755836"
        y="58.410255"
        ><tspan style="fill:#ff4646" id="tspan8095">Net</tspan><tspan
          style="fill:#9595ff">Hack</tspan
        ><tspan style="fill:#ff00ff">@</tspan><tspan style="fill:#9696ff"
          >thon</tspan
        ></tspan
      ></text
    >
  </g>
</svg>
