---
const { homeClass, pastClass, currentClass } = Astro.props;
---
<nav>
  <a class={currentClass} href="/">Current event</a>
  <a class={homeClass} href="/about">About</a>
  <a class={pastClass} href="/past">Past events</a>
  <a href="/sign-up">Sign up</a>
  <a href="/annotate">#annotate</a>
</nav>

<style>
  @media (prefers-color-scheme: dark) {
    nav a:hover {
      background-color: var(--color-dark-highlight);
    }
  }
  @media (prefers-color-scheme: light) {
    nav a:hover {
      background-color: var(--color-light-highlight);
    }
  }
  nav {
    min-height: 48px;
  }
  nav a {
    display: inline-block;
    line-height: 48px;
    height: 48px;
    font-size: x-large;
    padding: 0 1em;
  }
  nav a.active {
    color: var(--color-a);
  }
</style>
