---
import Countdown from "./Countdown.astro";
import { eventDateString } from "../js/shared.js";
const { currentEvent } = Astro.props;
const eventDates = eventDateString(
  currentEvent.event_start,
  currentEvent.event_end,
);
---

<Countdown start={currentEvent.signup_start} end={currentEvent.signup_end}>
  <div slot="before-countdown">
    <p>
      We're currently looking for streamers for the next event to be held the
      weekend of
      <strong class="c">{eventDates}</strong>.
    </p>
    <p>Sign-ups end in:</p>
  </div>
  <p slot="after-countdown">
    <a href="/sign-up">Sign up today!</a>
  </p>
</Countdown>
