---
// This version of the Streamers component gets the list of streamers at runtime using fetch.
---

<p>
  Streamers include, <span id="streamers"></span>
</p>

<script>
  const response = await fetch('https://api.nethackathon.org/streamers');
  const data = await response.json();
  const usernames = data.streamers.sort((a, b) => {
    if (a.username.toUpperCase() < b.username.toUpperCase()) return -1;
    return 1;
  }).map((s) => s.username);
  const uniqueUsernames = [...new Set(usernames)];
  function getDelimiter(index) {
    if (index === uniqueUsernames.length - 2) return ", and ";
    if (index === uniqueUsernames.length - 1) return ".";
    return ", ";
  }
  const streamersSpan = document.getElementById('streamers');
  uniqueUsernames.forEach((username, index) => {
    const streamer = document.createElement('a');
    streamer.href = `https://twitch.tv/${username}`;
    streamer.target = '_blank';
    streamer.innerText = username;
    streamersSpan.appendChild(streamer);
    if (index < uniqueUsernames.length - 1) {
      const delimiter = document.createTextNode(getDelimiter(index));
      streamersSpan.appendChild(delimiter);
    }
  });
</script>
