---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout homeClass="active">
  <section class="a double">
    <h2>NetHackathon and Charity</h2>
    <p>For the first time this NetHackathon, and for each event moving forward, we are going to choose a charity to
    support over the course of our event.</p>
    <p>The primary purpose of NetHackathon is to get together with other NetHack enthusiasts and share our love of
    this game.</p>
    <p>That said, why not spread some awareness and raise some money for worthy charities while we're at it?</p>
  </section>
  <section class="c double">
    <h2>Girls Who Code</h2>
    <p>NetHackathon Fall 2023 is raising money for the charity Girls Who Code. Our hope is to both support the effort to
    get more girls into coding and to train the next generation of open-source roguelike developers!</p>
    <p>Girls Who Code does more than teach girls to code, they prepare them to thrive and lead in the tech workforce.</p>
    <p>Girls Who Code values diversity, equity and inclusion as essential to their mission. They focus our work not
      only on gender diversity but also on young women who are historically underrepresented in computer science fields.</p>
  </section>
  <section class="b double">
    <h2>Give!</h2>
    <p>For more information about Girls Who Code and to donate, go to <a href="https://www.justgiving.com/page/nethackathon">https://www.justgiving.com/page/nethackathon</a>.</p>
    <p>Thank you for your support!</p>
  </section>
</MainLayout>
